<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Changelogs | <%= process.env.APP_NAME || "NestJs App" %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= process.env.APP_URL  %>/images/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Inter:wght@400;500;600&display=swap"
    rel="stylesheet" />
  <style type="text/css">
    body,
    html {
      margin-top: 20px;
      font-family: 'Inter', sans-serif;
    }

    .badge {
      padding: 6px 8px;
      font-family: 'Inter', sans-serif;
    }

    .badge-primary {
      background-color: #39AD34;
    }

    .text-muted {
      color: #8492a6 !important;
    }

    .bg-light {
      background-color: #add8e624 !important;
    }

    ul {
      list-style-position: outside;
    }

    .text-success {
      color: #0f84ab !important;
    }

    a,
    code {
      color: #39AD34 !important;
    }

    .container h1,
    .container h4 {
      font-weight: bold;
      color: #39AD34;
    }

    .display {
      font-family: 'Inter', serif;
      font-weight: 600;
    }

    code {
      text-align: left;
      font-size: 87.5%;
    }
  </style>
</head>

<body>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css"
    integrity="sha256-nwNjrH7J9zS/Ti4twtWX7OsC5QdQHCIKTv5cLMsGo68=" crossorigin="anonymous" />
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="col-12 pt-2 pb-4 display">
        <%= process.env.APP_NAME || "NestJs App" %> API Changelogs
      </h1>
      <hr />
      <div class="col-lg-12 col-md-12 col-12 mx-auto my-auto">
        <span class="h6 font-weight-bold">Base URL:</span>
        <a href="<%= process.env.APP_URL || " http://localhost:3017" %>" target="_blank"><%= process.env.APP_URL
            || "http://localhost:3017" %></a>
      </div>
      <div class="col-lg-12 col-md-12 col-12 mx-auto my-auto">
        <span class="h6 font-weight-bold">Swagger UI:</span>
        <a href="<%= process.env.APP_URL || " http://localhost:3017" %>/api/documentation" target="_blank"><%=
            process.env.APP_URL || "http://localhost:3017" %>/api/documentation</a>
      </div>
      <br />
      <div class="col-lg-12 col-md-12 col-12 mx-auto my-auto">
        <div class="row d-flex">
          <div class="col-lg-10" style="border-left: 1px solid #88bbcc1a">
            <h5 class="mt-3 h5 font-weight-bold">v<%= process.env.API_VERSION || "1.0" %>
            </h5>
          </div>
          <div class="col-lg-10" style="border-left: 1px solid #88bbcc1a">
            <h6 class="mt-3 h6">12 Dec, 2023</h6>
            <ul class="mt-3">
              <li class="text-muted ml-3 mb-2">
                <code>PUT /api/v1/change-email</code>
                <br />
                &#10003; Change email for apple login
              </li>
          </div>
          <div class="col-lg-10" style="border-left: 1px solid #88bbcc1a">
            <h6 class="mt-3 h6">6 Dec, 2023</h6>
            <ul class="mt-3">
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/job</code>
                <br />
                &#10003; Create job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job</code>
                <br />
                &#10003; Get job list
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/{jobUniqueId}</code>
                <br />
                &#10003; Get job details
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/job/apply</code>
                <br />
                &#10003; Apply for job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/accept-decline/{jobApplicationUniqueId}</code>
                <br />
                &#10003; Accept decline job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/application/{jobUniqueId}</code>
                <br />
                &#10003; Get job application
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/check-in/{jobUniqueId}</code>
                <br />
                &#10003; Get check-in job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/clock-in/{jobUniqueId}</code>
                <br />
                &#10003; Get clock-in job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/job/complete/{jobUniqueId}</code>
                <br />
                &#10003; Complete job
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/job</code>
                <br />
                &#10003; Get job list
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/users/rating-review</code>
                <br />
                &#10003; User rating review
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/rating/{userUniqueId}</code>
                <br />
                &#10003; Get rating list
              </li>

          </div>
          <div class="col-lg-10" style="border-left: 1px solid #88bbcc1a">
            <h6 class="mt-3 h6">3 Dec, 2023</h6>
            <ul class="mt-3">
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/resend-otp</code>
                <br />
                &#10003; Resend otp
              </li>
            </ul>
          </div>
          <div class="col-lg-10" style="border-left: 1px solid #88bbcc1a">
            <h6 class="mt-3 h6">22 Jun, 2023</h6>
            <span class="badge badge-primary">Initial release</span>
            <ul class="mt-3">
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/register</code>
                <br />
                &#10003; Register user
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/login</code>
                <br />
                &#10003; Login user
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/verify-otp </code>
                <br />
                &#10003; Verify otp
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/logout</code>
                <br />
                &#10003; Logout user
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/check-app-version</code>
                <br />
                &#10003; Check app version
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users</code>
                <br />
                &#10003; Get login user details
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>PUT /api/v1/users</code>
                <br />
                &#10003; Changed type of dateOfBirth from <b>timestamp</b> to <b>string</b>
                </br>
                &#10003; Update user details
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>DELETE /api/v1/users </code>
                <br />
                &#10003; Delete user
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/users/change-password</code>
                <br />
                &#10003; Change password
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>POST /api/v1/users/get-states-city</code>
                <br />
                &#10003; Get state city
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/toggle-notification</code>
                <br />
                &#10003; Toggle notification
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/contact-support</code>
                <br />
                &#10003; Contact support
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/feedback</code>
                <br />
                &#10003; user feedback
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/dropdown/list</code>
                <br />
                &#10003; Get dropdown list
              </li>
              <li class="text-muted ml-3 mb-2">
                <code>GET /api/v1/users/frequently-ask-question</code>
                <br />
                &#10003; frequently-ask-question
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>